* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #eef0f4;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.nav-left a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
}


.shop-container {
    display: flex;
    padding: 40px;
    gap: 40px;
}


.sidebar {
    width: 200px;
}

.sidebar h3 {
    margin-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar li {
    margin-bottom: 8px;
    cursor: pointer;
    color: #333;
}


.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    background: #ddd;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
}

.product span {
    font-weight: bold;
}
