* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef0f4;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.nav-left a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
}


.hero-image img {
    width: 550px;
    background: white;
    padding: 40px;
    border-radius: 12px;
}


.hero-text {
    margin-top: 40px;
    align-self: flex-start;
    margin-left: 120px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    max-width: 420px;
}


@media (max-width: 768px) {
    .hero-text {
        margin-left: 0;
        text-align: center;
        align-self: center;
    }

    .hero-image img {
        width: 300px;
    }
}
